body{
  margin:0px;
}
.m-title{
    margin: 0px;
    padding: 30px 40px;
    color: white;
    background-color: black;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.m-form{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: large;
}
.m-subtitle{
    font-size: large;
    font-weight: bolder;
}
.m-button{
    padding: 5px 10px ;
}
.m-hr{
    width: 100%;  
    margin-top: 30px; 
    border: 1px solid rgba(195, 194, 194, 0.973);
}