<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>失敗頁面</title>
    <style>
        body{
            margin:0px;
          }
        .m-title{
            margin: 0px;
            padding: 30px 40px;
            color: white;
            background-color: black;
            font-size: x-large;
            font-weight: bolder;
            text-align: center;         
        }
        .m-message{
            margin-top:40px;
            text-align: center;
            font-size: large;
        }
    </style> 
</head>
<body>
    <h1 class="m-title">失敗頁面</h1>
    <div class="m-message">
        <p>{{ message }}</p>
        <a href="/">返回首頁</a>
    </div>
</body>
</html>